@import "_variables";

.gallery-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  pointer-events: all;

  .still-image {
    width: 100%;
    display: flex;
  }
}

.attachments {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  border-radius: 7px;
  overflow: hidden;
  flex-flow: column;
  align-items: center;
  pointer-events: all;

  .image-attachment {
    width: 100%;
  }
}

.attachment {
  position: relative;
  line-height: 0;
  overflow: hidden;
  margin: 0 0.25em 0 0;
  flex-grow: 1;
  box-sizing: border-box;
  min-width: 2em;

  &:last-child {
    margin: 0;
  }
}

.gallery-gif video {
  background-color: #101010;
}

.still-image {
  justify-content: center;

  img {
    object-fit: cover;
    max-width: 100%;
    flex-grow: 1;
  }
}

.image {
  display: inline-block;
}

// .single-image {
//     display: inline-block;
//     width: 100%;
//     max-height: 600px;

//     .attachments {
//         width: unset;
//         max-height: unset;
//         display: inherit;
//     }
// }

.overlay-circle {
  border-radius: 50%;
  background-color: #333333;
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  border: none;
}

.overlay-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 17px;
  border-color: transparent transparent transparent white;
  margin-left: 18px;
}

.media-gif {
  display: table;
  background-color: unset;
  width: unset;
}

.media-body {
  flex: 1;
  padding: 0;
  white-space: pre-wrap;
}
